@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #738260;
  --text-color: #212121;
  --card-color: #e3ecc0;
  --accent-color: #555;
  --hover: #3333f5;

  --grey: #293138;
  --blue: #2C70DA;
  --white: #EDF3F8;
  --soft-green: #9DB88F;
  --vivid-green: #7CE3B3;
  --orange: #FB6D3A;
  --dark: #7772;
}

/* root[data-theme='light'] {
} */

:root[data-theme='dark'] {
  --background-color: #000916;
  --text-color: #f5f6f7;
  --card-color: #293138;
  --accent-color: #777;
  --hover: #7CE3B3;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* Hide arrows*/
@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    @apply appearance-none;
  }
  input[type="number"] {
    @apply [appearance:textfield];
  }
}

.g11{
  background-color: #0172b8;
  border-radius:  12px 0 0 12px;
}
.g12{
  background-color: #957a05;
  border-radius: 0 12px 12px 0;
}
.n12{
  display: grid;
  grid-template-columns: 70%  30%;
}

/* Hide arrows in Chrome, Safari, Edge, and Opera */
/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Hide arrows in Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */